<div class="page">
  <h2 class="page-title">Users</h2>

  <div class="toolbar">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        id="search"
        pInputText
        type="text"
        placeholder="Search by name"
        [(ngModel)]="searchTerm"
        (input)="filterUsers()"
      />
    </span>
  </div>

  <p *ngIf="loading">Loading users...</p>

  <div *ngIf="!loading" class="user-grid">
    <div *ngFor="let user of filteredUsers" class="user-card">
      <p-card>
        <div class="user-card-content">
          <h3>{{ user.name }}</h3>
          <p class="username">{{ user.username }}</p>

          <p class="field-row">
            <i class="pi pi-envelope"></i>
            <span>{{ user.email }}</span>
          </p>

          <p class="field-row">
            <i class="pi pi-map-marker"></i>
            <span>{{ user?.address?.city }}</span>
          </p>

          <p class="field-row">
            <i class="pi pi-briefcase"></i>
            <span>{{ user?.company?.name }}</span>
          </p>
        </div>

        <ng-template pTemplate="footer">
          <button
            pButton
            type="button"
            label="View details"
            icon="pi pi-arrow-right"
            [routerLink]="['/users', user.id]"
          ></button>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
